/*minimal reset*/
* { margin: 0; padding: 0; font-size: 16px; }
table { border-collapse: collapse; border-spacing: 0; }
th, td {text-align: left;vertical-align: top;}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }

/*styles*/
body {
    background-color: #aaf7ff;
}
h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #4b4f00;
}
article p:first-letter {
    font-size: 1.5em;
}
a {
    color: #9d0200;
}
.footerMenu a,
.mainMenu a {
    color: #009d25;
 }
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
.sectionFaq {
    background-color: #97879d;
    font-size: 1.2em;
}
section:after,
section:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000a5d;
    margin: 2px 0 3px;
    clear: both;
}
section:after {
    background-color: #5d0058;
}